/* src/SideNav.css */
.sidenav {
  width: 250px;
  background-color: #333;
  color: #fff;
  height: 100vh;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.sidenav-open {
  transform: translateX(0);
}

.sidenav-closed {
  transform: translateX(-100%);
}

.sidenav-link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.sidenav-link:hover {
  background-color: #555;
}

.sidenav-icon {
  margin-right: 10px;
}

.sidenav-dropdown-button {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.sidenav-dropdown-button:hover {
  background-color: #555;
}

.sidenav-dropdown-menu {
  padding-left: 20px;
}

.sidenav-dropdown-link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.sidenav-dropdown-link:hover {
  background-color: #666;
}

.dropdown-icon {
  margin-left: auto;
}

